/* Основные стили */
body {
    background-color: #F8F8F8;
    font-family: Arial, sans-serif;
}

p {
    font-size: 16px;
    color: #666666;
    margin-bottom: 10px;
}

/* Стили навигации */
.navbar {
    background-color: #FFA500;
}

.navbar-brand {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    margin-left: 200px;
}

.navbar-nav .nav-link {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: #FFFFFF;
}

/* Стили корзины */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1.cart {
    text-align: center;
    font-size: 28px;
    color: #FFA500;
    margin-bottom: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #333333;
    color: #FFFFFF;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #FFFFFF;
}

table th {
    background-color: #FFA500;
    color: #333333;
}

button {
    background-color: #FFA500;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #FF8000;
}

.TotalPrice {
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;
}

/* Стили формы */
.checkout {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

button.order {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #FFA500;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.order:hover {
    background-color: #FF8C00;
}